* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

header {
    background-color: rgb(186, 186, 186);
    padding: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;
}

.main {
    background-color: bisque;
    flex-basis: 65%;
    padding: 16px;
}

.aside {
    background-color: rgb(186, 218, 182);
    flex-basis: 30%;
    padding: 16px;
}

.more_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.more {
    background-color: rgb(195, 195, 105);
    flex-basis: calc(50% - 8px);
    padding: 2rem 1rem;
    margin-bottom: 16px;
}

.more3 {
    flex-basis: 100%;
}

.footer {
    background-color: rgb(186, 186, 186);
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.footer_item {
    background-color: #fff;
    flex-basis: calc(25% - 12px);
    padding: 16px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .main, .aside {
        flex-basis: auto;
    }

    .more_wrapper {
        flex-direction: column;
    }

    .more {
        flex-basis: auto;
    }

    .more3 {
        flex-basis: auto;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer_item {
        flex-basis: calc(50% - 8px);
        margin-bottom: 16px;
    }
}